/** @format */
@import '../variables';
.single-flag {
  display: grid;
  grid-template-areas:
    'imgArea nameArea'
    'imgArea nameInfoArea';
  justify-content: start;

  img {
    grid-area: imgArea;
    width: 47vw;
    height: 55vh;
    margin-right: 5rem;
  }
  h1 {
    grid-area: nameArea;
    margin: 1.875rem 0;
    font-size: 2rem;
  }
}

.name-info {
  grid-area: nameInfoArea;
  display: grid;
  grid-template-columns: auto auto;
  gap: 6.25rem;
  h3 {
    font-size: 1rem;
    margin: 0.75rem 0;
    span {
      font-weight: 300;
    }
  }
  .border {
    margin: 1.875rem 0;
    span {
      border-radius: 0.3125rem;
      padding: 0.125rem 0.9375rem;
      box-shadow: 0 0.0625rem 0.4375rem -0.1875rem $black;
      margin-left: 0.625rem;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}

.border-light {
  background-color: $White;
  color: $black;
  &:hover {
    background-color: $black;
    color: $White;
  }
}

.border-dark {
  background-color: $DarkBlue;
  color: $White;
  &:hover {
    background-color: $White;
    color: $black;
  }
}

.single-flag-loading {
  margin: 3.125rem auto;
}

.borders-name {
  display: inline-block;
  span {
    float: left;
  }
}

@media (max-width: 1150px) {
}

@media (max-width: 933px) {
}

@media (max-width: 606px) {
}

@media (max-width: 375px) {
}
