/** @format */
@import '../variables';
.card {
  border-radius: 10px;
  box-shadow: 0 1px 7px -3px $black;
  max-width: 22.5vw;
  img {
    border-radius: 10px 10px 0 0;
    width: 22.5vw;
    height: 30vh;
  }
  div {
    margin: 20px auto 40px 30px;
  }
  h1 {
    font-size: 26px;
    font-weight: 800;
    margin: 10px auto;
    // max-width: 22.5vw;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 5px auto;

    span {
      font-weight: 300;
    }
  }
}

.card-light {
  background-color: $White;
}

.card-dark {
  background-color: $DarkBlue;
}
