/** @format */
@import '../variables';

.select-flag {
  cursor: pointer;
  display: inline-block;
  right: 0;
  position: absolute;
  top: 0;
  width: 15%;
}

.filter {
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  box-shadow: 0 0.0625rem 0.4375rem -0.1875rem $black;
  p {
    font-size: 1.125rem;
    font-weight: 300;
  }
  img {
    width: 2vw;
    transform: rotate(180deg);
  }
}

.options {
  @extend .filter;
  display: block;
  margin: 0.625rem auto;
  padding: 0;
  position: absolute;
  width: 100%;
  p {
    display: block;
    margin: 0;
    padding: 0.5rem 1.2rem;
  }
  .option-light:hover {
    background-color: $DarkGray;
    color: $DarkBlue;
  }
  .option-dark:hover {
    color: $White;
    background-color: $VeryDarkblue;
  }
}

.select-flag-light {
  background-color: $VeryLightGray;
  color: $black;
}

.select-flag-dark {
  color: $White;
  background-color: $VeryDarkblue;
}

.filter-light,
.options-light {
  background-color: $White;
  color: $black;
}

.filter-dark,
.options-dark {
  color: $White;
  background-color: $DarkBlue;
}

@media (max-width: 1440px) {
  .select-flag {
    width: 15%;
  }
}

@media (max-width: 1150px) {
  .select-flag {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .select-flag {
    width: 30%;
  }
}
@media (max-width: 580px) {
  .select-flag {
    width: 40%;
    position: static;
    margin: 1.875rem 0.625rem;
  }
  .options {
    position: static;
  }
}

@media (max-width: 375px) {
  .select-flag {
    width: 60%;
    position: static;
    margin: 1.875rem 0.625rem;
  }
}

@media (max-width: 144px) {
  .select-flag {
    width: 80%;
    position: static;
    margin: 1.875rem 0.625rem;
  }
}
