/** @format */

@import '../variables';
.search-form {
  padding: 10px;
  width: 85vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 7px -3px $black;
  img {
    margin-left: 20px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.search-form-light,
.input-light {
  background-color: $White;
  color: $black;
}

.search-form-dark,
.input-dark {
  background-color: $DarkBlue;
  color: $White;
}
