/** @format */

@import '../variables';
.search-form {
  padding: 0.625rem;
  width: 40vw;
  border-radius: 0.3125rem;
  display: inline-flex;
  justify-content: left;
  height: 3.125rem;
  box-shadow: 0 0.0625rem 0.4375rem -0.1875rem $black;
  img {
    margin-left: 1.25rem;
  }

  input {
    width: 100%;
    padding: 0.625rem;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.search-form-light,
.input-light {
  background-color: $White;
  color: $black;
}

.search-form-dark,
.input-dark {
  background-color: $DarkBlue;
  color: $White;
}

@media (max-width: 580px) {
  .search-form {
    width: 95vw;
    margin: 0 0.625rem;
  }
}
