/** @format */
@import './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: $VeryLightGray;
  color: $black;
}

body.darktheme {
  background-color: $VeryDarkblue;
  color: $White;
}

#light {
  background-color: $VeryLightGray;
  color: $black;
}

#dark {
  background-color: $VeryDarkblue;
  color: $White;
}
