/** @format */
@import './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: $VeryLightGray;
  color: $black;
}

body.darktheme {
  background-color: $VeryDarkblue;
  color: $White;
}

#light {
  background-color: $VeryLightGray;
  color: $black;
}

#dark {
  background-color: $VeryDarkblue;
  color: $White;
}

@media (max-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 144px) {
  html {
    font-size: 8px;
  }
}
